# Doku: https://git-scm.com/docs/gitignore

# generated pdfs
/a*.pdf
/bv*.pdf
/e*.pdf
/o*.pdf
/Praxis/Skript/Skript_Praxis.pdf
/Praxis/Skript/Skript_Praxis_Loesung.pdf
/Praxis/SkriptA/Skript_PraxisA.pdf
/Praxis/SkriptA/Skript_PraxisA_Loesung.pdf
Praxis/SkriptE/Skript_Praxis.pdf
Praxis/SkriptE/Skript_Praxis_Loesung.pdf

#pdfpc note files
*.pdfpc

# LaTeX tmp files
*.aux
*.log
*.out
*.toc
*.lof
*.nav
*.snm

# Sublime Text2 tmp files
*.bbl
*.blg
*.fdb_latexmk
*.synctex.gz
*.fls

# symlink to style file
texdata/preamble.tex
texdata/titlepage.tex

# macOS folder foo
.DS_Store
